@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.header {
    @apply after:absolute  after:bottom-[12px] after:left-0  after:w-24 after:h-1 after:bg-green;
}
.header-w {
    @apply after:absolute  after:bottom-[12px] after:left-0  after:w-24 after:h-1 after:bg-white;
}
.btn-green {
    @apply px-6 py-2 bg-green text-white hover:shadow-lg transition-all;
}
.container {
    @apply px-4 md:px-0;
}
.navbar-home {
    @apply fixed  top-0  w-full left-0 z-50 transition-all  border-b border-mediumGray;
}
.header-bg {
    @apply bg-white shadow;
}
.navList {
    @apply font-medium;
}
.shadow-custom {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.accordion-list {
    max-width: 1000px;

    overflow: hidden;
}

.accordion-item--opened .accordion-item__icon {
    transform: rotate(180deg);
}
.accordion-item--opened .accordion-item__inner {
    max-height: 100rem;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-duration: 0.5s;
    transition-property: max-height;
}
.accordion-item--opened .accordion-item__content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}
.accordion-item__line {
    @apply flex justify-between items-center bg-white z-[2] relative;
}
.accordion-item__title {
    @apply text-lg md:text-xl font-semibold text-black;
}
.accordion-item__icon {
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
    opacity: 0.6;
}
.accordion-item__inner {
    max-height: 0;
    overflow: hidden;
    text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;
    position: relative;
}
.accordion-item__content {
    opacity: 0;
    transform: translateY(-1rem);
    transition-timing-function: linear, ease;
    transition-duration: 0.1s;
    transition-property: opacity, transform;
    transition-delay: 0.5s;
}
.accordion {
    @apply !shadow-sm border border-lightGray hover:border-green focus:border-green rounded-sm  transition-all delay-75 w-full cursor-pointer px-6 py-4;
}
.accordion-item--opened {
    @apply !shadow-sm border border-lightGray hover:border-green focus:border-green rounded-sm  transition-all delay-75 w-full cursor-pointer px-6 py-4;
}
.icon-calender {
    @apply !bg-green;
}
.date {
    @apply focus:!border-green;
}
.hCOnUy {
    min-height: 0 !important;
    font-family: "Poppins", sans-serif !important;
}
.sc-hKMtZM svg,
.pHieT svg {
    @apply !hidden;
}
.sc-hKMtZM input {
    @apply !px-4;
}
.icon-calendar {
    @apply !hidden;
}
.date {
    @apply focus:!border-green;
}

.wrapper {
    @apply !py-3   !w-full  lg:!px-0 !border !border-mediumGray  !outline-none focus:!outline-none focus:!border-green hover:!border-green !text-black !transition-all !rounded-none !shadow-none !relative !h-auto;
    font-family: "Poppins", sans-serif !important;
}
.selected {
    @apply after:!bg-green after:!border-green;
}
.hovered {
    @apply !bg-greenLight;
}
.react-google-flight-datepicker .day.selected.hovered {
    background: linear-gradient(90deg, #fff 50%, #9fd866 50%) !important;
    color: #fff;
}
.day.selected.hovered.end {
    background: linear-gradient(90deg, #9fd866 50%, #fff 50%) !important;
}
.date.is-focus::after {
    content: "";
    margin: -1px;
    border: 2px solid #5fbe00 !important;
}
.submit-button {
    @apply !bg-green hover:!bg-black !transition-all;
}
.shadow-event {
    box-shadow: 7px -1px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.glassmorphism {
    background: rgb(202, 255, 150);
    background: linear-gradient(
        90deg,
        rgba(202, 255, 150, 0.4) 0%,
        rgba(111, 215, 6, 0.4) 55%,
        rgba(95, 190, 0, 0.4) 100%
    );

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}
.project-wrap {
    margin-bottom: 30px !important;
}
.project-wrap .img {
    display: block;
    width: 100% !important;
    position: relative;
    z-index: 0;
}
.project-wrap .img .price {
    position: absolute;
    top: 0px !important;
    left: 20px;

    display: inline-block;
    background: #f15d30;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.project-wrap .img .price:after,
.project-wrap .img .price:before {
    position: absolute;
    top: 0;
    content: "";
}
.project-wrap .img .price:after {
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
}

.project-wrap.hotel .img {
    height: 320px;
}
.project-wrap .text {
    margin: 0 auto;
    width: 90%;
    position: relative;
    border-top: none;
    margin-top: -40px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
}
.project-wrap .text span {
    font-size: 13px;
}
.project-wrap .text .days {
    font-size: 12px;
    color: #f15d30;
    text-transform: uppercase;
    font-weight: 700;
}
.project-wrap .text h3 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 500;
}
.project-wrap .text h3 a {
    color: #000000;
}
.project-wrap .text ul {
    margin: 0;
    padding: 0;
}
.project-wrap .text ul li {
    color: #b3b3b3;
}
.project-wrap .text ul li span {
    color: #f15d30;
    margin-right: 10px;
    font-size: 20px;
}
.project-wrap:hover .text .price {
    padding-left: 15px;
    padding-right: 15px;
    background: #33313b;
}
.control-form {
    @apply !py-3 !px-4  w-full lg:w-[473px] lg:px-0 border border-mediumGray bg-lightGray outline-none focus:outline-none focus:border-green text-black transition-all;
}
.admin-form {
    @apply !py-2.5 !px-4  w-full lg:px-0 border border-mediumGray outline-none focus:outline-none focus:border-green text-black transition-all rounded-md;
}
.off-canvas-wrapper {
    position: fixed;
    right: -100%;
    top: 0;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    z-index: 9999;
}
.off-canvas-wrapper.active {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    right: 0;
}
.off-canvas-wrapper.active .off-canvas-inner {
    transform: none;
}
.off-canvas-wrapper.active .off-canvas-inner .off-canvas-content {
    transform: none;
    transition-delay: 0.3s;
}
.off-canvas-wrapper.active .btn-close {
    display: block;
}
.off-canvas-wrapper.active .off-canvas-overlay {
    opacity: 1;
    visibility: visible;
}
.off-canvas-wrapper .off-canvas-header {
    display: flex;
    justify-content: right;
    padding: 30px 0;
}
.off-canvas-wrapper .off-canvas-header .logo-area {
    display: none;
    max-width: 100px;
}
.off-canvas-wrapper .off-canvas-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.off-canvas-wrapper .btn-close {
    background: none;
    border: none;
    color: #999999;
    font-size: 30px;
    line-height: 1;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
@media only screen and (max-width: 575px) {
    .off-canvas-wrapper .btn-close {
        font-size: 20px;
    }
}
.off-canvas-wrapper .btn-close:active,
.off-canvas-wrapper .btn-close:focus {
    border: none;
    box-shadow: none;
}
.off-canvas-wrapper .btn-close i {
    line-height: 1;
}
.off-canvas-wrapper .btn-close:hover {
    color: #0e0e0e;
}
.off-canvas-wrapper .off-canvas-inner {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transform: translateX(0);
    transition: 0.3s;
    height: 100vh;
    width: 100%;
    z-index: 3;
}
.off-canvas-wrapper .off-canvas-inner .off-canvas-content {
    background-color: #fff;
    height: 100%;
    padding: 0 50px;
    position: relative;
    overflow-y: auto;
    transition: 0.4s;
    transition-duration: 0.4s;
    transform: translateX(100%);
    width: 545px;
    z-index: 9;
}
@media only screen and (max-width: 575px) {
    .off-canvas-wrapper .off-canvas-inner .off-canvas-content {
        width: 310px;
    }
}
.off-canvas-wrapper .off-canvas-inner .off-canvas-content .off-canvas-item {
    margin-bottom: 30px;
    margin-top: 20px;
}
.off-canvas-wrapper
    .off-canvas-inner
    .off-canvas-content
    .off-canvas-item:last-child {
    margin-bottom: 0;
}
.off-canvas-wrapper.aside-menu .off-canvas-inner {
    background-color: transparent;
    transform: none;
}
.off-canvas-wrapper.aside-menu .off-canvas-inner .off-canvas-content {
    background-color: #182141;
    position: relative;
    width: 320px;
    transform: translateX(-100%);
    transition: 0.4s;
    transition-duration: 0.6s;
    z-index: 3;
}
@media only screen and (max-width: 479.98px) {
    .off-canvas-wrapper.aside-menu .off-canvas-inner .off-canvas-content {
        width: 310px;
    }
}
.off-canvas-wrapper.aside-menu
    .off-canvas-inner
    .off-canvas-content
    .close-action
    .btn-close {
    color: #fff;
}
.off-canvas-wrapper.aside-menu
    .off-canvas-inner
    .off-canvas-content
    .close-action
    .btn-close:hover {
    color: #eb4435;
}
.off-canvas-wrapper.aside-menu.active .off-canvas-inner .off-canvas-content {
    transform: none;
    transition-delay: 0.5s;
}
.off-canvas-wrapper .off-canvas-footer .side-footer {
    display: inline-block;
}
.off-canvas-wrapper .off-canvas-footer .side-footer .widget-social-icons {
    display: block;
}
.off-canvas-wrapper .off-canvas-footer .side-footer .widget-social-icons a {
    border: none;
    color: #000;
    font-size: 16px;
    float: left;
    margin-right: 40px;
    padding: 0;
}
@media only screen and (max-width: 575px) {
    .off-canvas-wrapper .off-canvas-footer .side-footer .widget-social-icons a {
        font-size: 13px;
        margin-right: 22px;
    }
}
.off-canvas-wrapper
    .off-canvas-footer
    .side-footer
    .widget-social-icons
    a.icon-color {
    color: #185381;
}
.off-canvas-wrapper
    .off-canvas-footer
    .side-footer
    .widget-social-icons
    a.icon-color.color-twitter {
    color: #429cd6;
}
.off-canvas-wrapper
    .off-canvas-footer
    .side-footer
    .widget-social-icons
    a.icon-color.color-instagram {
    color: #521313;
}
.off-canvas-wrapper
    .off-canvas-footer
    .side-footer
    .widget-social-icons
    a.icon-color.color-googleplus {
    color: #d62d20;
}
.off-canvas-wrapper .off-canvas-footer .side-footer .widget-copyright {
    display: block;
}
@media only screen and (max-width: 575px) {
    .off-canvas-wrapper .off-canvas-footer .side-footer .widget-copyright {
        display: inline-block;
        margin-top: 12px;
    }
}
.off-canvas-wrapper .off-canvas-footer .side-footer .widget-copyright p {
    line-height: 1.7;
}
@media only screen and (max-width: 575px) {
    .off-canvas-wrapper .off-canvas-footer .side-footer .widget-copyright p {
        font-size: 15px;
    }
}
.off-canvas-wrapper.bg-light-canvas .off-canvas-inner .off-canvas-content {
    background-color: #fff;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .off-canvas-header {
    padding: 30px 0;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .off-canvas-header
    .close-action
    button {
    position: absolute;
    right: 30px;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .res-mobile-menu
    .slicknav_nav {
    padding-left: 10px;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .res-mobile-menu
    .slicknav_nav
    li
    a {
    font-size: 16px;
    color: #333;
    padding-bottom: 16.5px;
    padding-top: 16.5px;
    text-transform: uppercase;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .res-mobile-menu
    .slicknav_nav
    li
    a
    .slicknav_arrow {
    color: #999999;
    display: block;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .res-mobile-menu
    .slicknav_nav
    li
    a:hover {
    color: #0e0e0e;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .res-mobile-menu
    .slicknav_nav
    li
    ul
    li
    a {
    color: #eb4435;
    padding-bottom: 13px;
    padding-top: 13px;
    text-transform: capitalize;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .res-mobile-menu
    .slicknav_nav
    li
    ul
    li
    a:hover {
    color: #333;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .res-mobile-menu
    .slicknav_nav
    li
    ul
    li
    ul
    li
    a {
    color: #999191;
    font-size: 15px;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content
    .res-mobile-menu
    .slicknav_nav
    li
    ul
    li
    ul
    li
    a:hover {
    color: #eb4435;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content.canvas-content-style2
    .off-canvas-item {
    margin-bottom: 0;
    margin-top: 20px;
    height: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content.canvas-content-style2
    .side-canvas-footer
    .widget-contact-info {
    margin-bottom: 0;
    padding: 0 31px;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content.canvas-content-style2
    .side-canvas-footer
    .widget-contact-info
    li {
    align-items: baseline;
    color: #999191;
    display: flex;
    margin-bottom: 10px;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content.canvas-content-style2
    .side-canvas-footer
    .widget-contact-info
    li:first-child
    i {
    width: 35px;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content.canvas-content-style2
    .side-canvas-footer
    .widget-contact-info
    li:last-child {
    margin-bottom: 0;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content.canvas-content-style2
    .side-canvas-footer
    .widget-contact-info
    li
    i {
    color: #999191;
    font-size: 14px;
    width: 27px;
}
.off-canvas-wrapper.bg-light-canvas
    .off-canvas-inner
    .off-canvas-content.canvas-content-style2
    .side-canvas-footer
    .widget-contact-info
    li
    span {
    color: #999191;
    font-size: 14px;
    line-height: 24px;
}

/* Scroll TOp */
.scroll-top {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #5fbe00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    color: #fff !important;
    border-radius: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 0;
}
.scroll-top:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    background-color: #081828;
}
