@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}
.control-form {
    @apply !py-3 !px-4  w-full lg:w-[473px] lg:px-0 border border-mediumGray bg-lightGray outline-none focus:outline-none focus:border-green text-black transition-all;
}
.navbar-home .navbar {
    @apply flex justify-between items-center max-w-[1180px] mx-auto h-full;
}

.nav-menu {
    @apply flex space-x-0 md:space-x-16;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 940px) {
    .navbar-home {
        max-width: 100%;
        background-color: #ffffff;
    }

    .navbar-home .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
        color: black;
    }

    .navbar-home .navbar img {
        width: 150px;
    }
}
.navItem::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 43px;
    height: 3px;
    transform-origin: right;
    background: #5fbe00;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.navItem:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
}
.nav__link:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    transform-origin: right;
    background: #5fbe00;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
}

.nav-scrolled {
    @apply text-black bg-white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}
@keyframes pop {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        top: 64px;
        opacity: 1;
        z-index: 1000;
        width: auto;
    }
}

/* Hello */
/* Btn Theme */
.btn-theme {
    background-color: #5fbe00 !important;
    border-color: #5fbe00 !important;
    /* border-radius: 5px; */
    color: #fff;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    min-height: 50px;
    padding: 10px 27.6px;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s;
    z-index: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.btn-theme::before {
    height: 100%;
    width: 0%;
    background-color: #006838;
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.btn-theme:hover::before {
    width: 100%;
}
.btn-theme:hover {
    color: #fff;
}
.btn-theme .icon {
    font-size: 14px;
    padding-left: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.btn-theme.btn-black {
    background-color: #000;
    border-color: #000;
}
.btn-theme.btn-black:hover {
    background-color: #5fbe00 !important;
    border-color: #5fbe00 !important;
    color: #fff;
}
.btn-theme.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #0e0e0e;
}
.btn-theme.btn-white:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.btn-theme.btn-white.btn-border {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    line-height: 29px;
}
.btn-theme.btn-white.btn-border:hover {
    background-color: #5fbe00 !important;
    border-color: #5fbe00 !important;
    color: #fff;
}
.btn-theme.btn-gray {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    color: #0e0e0e;
}
.btn-theme.btn-gray:hover {
    background-color: #5fbe00 !important;
    border-color: #5fbe00 !important;
    color: #fff;
}
.btn-theme.btn-border {
    background-color: transparent;
    border: 1px solid #5fbe00;
    color: #5fbe00 !important;
}
.btn-theme.btn-round {
    border-radius: 25px;
}
.btn-theme.btn-round.btn-slide:before {
    border-radius: 25px;
}
.btn-theme.btn-lg {
    letter-spacing: 0.131px;
    padding: 14px 48px;
}
.btn-theme.btn-slide {
    position: relative;
    z-index: 1;
}
.btn-theme.btn-slide:before {
    background-color: #669900;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.btn-theme.btn-slide:hover:before {
    width: 100%;
}
.btn-theme.btn-size-md {
    height: 50px;
    min-width: 160px;
    text-align: center;
}
.btn-theme.btn-size-lg {
    height: 50px;
    min-width: 180px;
    text-align: center;
}
.btn-theme.btn-size-xl {
    height: 50px;
    min-width: 220px;
    text-align: center;
}
.btn-theme.btn-size-xxl {
    height: 52px;
    min-width: 270px;
    text-align: center;
}

@media only screen and (max-width: 1199px) {
    .header-area .container {
        max-width: none;
        width: 100%;
    }
}
@media only screen and (max-width: 991px) {
    .header-area {
        padding: 0 0;
    }
}
.header-area.sticky-header {
    transition: 0.4s;
}
.header-area.sticky-header.sticky {
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: none;
    border: 0 !important;
    position: fixed;
    left: 0;
    top: 0;
    /* padding: 25px 0; */
    width: 100%;
    z-index: 99;
}
.header-area.sticky-header.sticky .header-logo-area .logo-main {
    display: none;
}
.header-area.sticky-header.sticky .header-logo-area .logo-light {
    display: block;
}
.header-area.sticky-header.sticky .main-menu > li:hover > a {
    background-color: #111;
    color: #fff;
}
.header-area.sticky-header.sticky .main-menu > li:hover > a:after {
    opacity: 1;
}
.header-area.sticky-header.sticky .main-menu > li > a {
    color: #fff;
}
.header-area.sticky-header.sticky .main-menu > li > a:after {
    background-color: #111;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    right: -14px;
    top: 0;
    width: 14px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header-area.sticky-header.sticky .main-menu > li > a:hover {
    background-color: #111;
}
.header-area.sticky-header.sticky .main-menu > li > a:hover:after {
    opacity: 1;
}
.header-area.sticky-header.sticky .main-menu > li > a:before {
    color: #fff;
}
.header-area.transparent:not(.sticky) {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header-area.transparent:not(.sticky) .header-logo-area .logo-main {
    display: none;
}
.header-area.transparent:not(.sticky) .header-logo-area .logo-light {
    display: block;
}
.header-area.transparent:not(.sticky) .main-menu > li:hover > a {
    background-color: #111;
    color: #fff;
}
.header-area.transparent:not(.sticky) .main-menu > li:hover > a:after {
    opacity: 1;
}
.header-area.transparent:not(.sticky) .main-menu > li > a {
    color: #fff;
}
.header-area.transparent:not(.sticky) .main-menu > li > a:after {
    background-color: #111;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    right: -14px;
    top: 0;
    width: 14px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header-area.transparent:not(.sticky) .main-menu > li > a:hover {
    background-color: #111;
}
.header-area.transparent:not(.sticky) .main-menu > li > a:hover:after {
    opacity: 1;
}
.header-area.transparent:not(.sticky) .main-menu > li > a:before {
    color: #fff;
}
.header-area.transparent:not(.sticky) .header-action-area button,
.header-area.transparent:not(.sticky) .header-action-area a {
    color: #fff;
}
.header-area.transparent:not(.sticky) .header-action-area button:hover,
.header-area.transparent:not(.sticky) .header-action-area a:hover {
    background-color: #111;
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media only screen and (min-width: 1200px) and (max-width: 1240px) {
    .header-right {
        justify-content: flex-end;
    }
}
.header-right .header-action-area {
    margin-left: 42px;
}
@media only screen and (max-width: 991px) {
    .header-right .header-navigation-area {
        display: none;
    }
}

.submenu-nav {
    min-width: 220px;
    left: 0;
}

.submenu-nav .submenu-nav {
    left: 100%;
    top: 15px;
}

.colunm-two {
    position: relative;
}
.submenu-nav {
    margin-top: 25px;
}
.header-default {
    background-color: #fff;
    position: relative;
    z-index: 999;
}
.header-area.header-default .container {
    padding-left: 15px;
    padding-right: 15px;
}
.header-area.header-default .header-logo-area {
    top: -3px;
}
.header-area.header-default .header-align {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 991px) {
    .header-area.header-default .header-align {
        justify-content: flex-end;
    }
}
@media only screen and (max-width: 991px) {
    .header-area.header-default .header-align .header-navigation-area {
        display: none;
    }
}
.header-area.header-default
    .header-align
    .header-navigation-area
    .main-menu
    > li {
    margin-right: 0;
}
.header-area.header-default
    .header-align
    .header-navigation-area
    .main-menu
    > li:first-child
    > a {
    padding-left: 0;
}
.header-area.header-default
    .header-align
    .header-navigation-area
    .main-menu
    > li:last-child {
    margin-right: 0;
}
.header-area.header-default
    .header-align
    .header-navigation-area
    .main-menu
    > li:last-child
    > a {
    padding-right: 0;
}
.header-area.header-default
    .header-align
    .header-navigation-area
    .main-menu
    > li
    > a {
    padding: 7px 19.48px;
}
.header-area.header-default
    .header-align
    .header-navigation-area
    .main-menu
    > li
    > span {
    padding: 7px 19.48px;
}
.header-area.header-default
    .header-align
    .header-navigation-area
    .main-menu
    > li.has-submenu
    > a:before {
    display: none;
}
.submenu-nav:before {
    height: 45px;
}
.submenu-nav > li a:hover {
    color: #5fbe00 !important;
}
.submenu-nav > li span:hover {
    color: #5fbe00 !important;
}
.header-area.header-default .header-align .header-action-area {
    margin-left: 15px;
    position: relative;
    top: -2px;
}
@media only screen and (max-width: 991px) {
    a.btn-theme {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 575px) {
    .header-area.header-default
        .header-align
        .header-action-area
        button.btn-theme,
    .header-area.header-default .header-align .header-action-area a.btn-theme {
        display: none;
    }
}
.header-area.header-default.sticky-header.sticky {
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

.header-area.header-default.sticky-header.sticky
    .header-align
    .header-navigation-area
    .main-menu
    > li
    > a {
    color: #0e0e0e;
}
.header-area.header-default.sticky-header.sticky
    .header-align
    .header-navigation-area
    .main-menu
    > li
    > a:hover {
    background-color: transparent;
    color: #5fbe00 !important;
}
.header-area.header-default.sticky-header.sticky
    .header-align
    .header-navigation-area
    .main-menu
    > li
    > span:hover {
    background-color: transparent;
    color: #5fbe00 !important;
}
.header-area.header-default.sticky-header.sticky
    .header-align
    .header-navigation-area
    .main-menu
    > li:hover
    a {
    background-color: transparent;
}
.header-area.header-default.sticky-header.sticky
    .header-align
    .header-navigation-area
    .main-menu
    > li:hover
    a:after {
    display: none;
}
.header-area.header-default.sticky-header.sticky
    .header-align
    .header-navigation-area
    .main-menu
    > li.active
    > a {
    color: #5fbe00 !important;
}
.header-area.header-default.sticky-header.sticky
    .header-align
    .header-navigation-area
    .main-menu
    > li.has-submenu
    > a:before {
    display: none;
}

.submenu-nav:before {
    height: 44px;
}
.header-area.header-default.transparent {
    background-color: transparent;
}
.header-area.header-default.transparent.sticky-header.sticky {
    background-color: rgba(0, 0, 0, 0.65);
}
.header-area.header-default.transparent
    .header-align
    .header-navigation-area
    .main-menu
    > li
    > a {
    color: #fff;
}
.header-area.header-default.transparent
    .header-align
    .header-navigation-area
    .main-menu
    > li
    > a:hover {
    background-color: transparent;
    color: #5fbe00 !important;
}
.header-area.header-default.transparent
    .header-align
    .header-navigation-area
    .main-menu
    > li:hover
    a {
    background-color: transparent;
}
.header-area.header-default.transparent
    .header-align
    .header-navigation-area
    .main-menu
    > li:hover
    a:after {
    display: none;
}
.header-area.header-default.transparent
    .header-align
    .header-navigation-area
    .main-menu
    > li.active
    > a {
    color: #5fbe00 !important;
}
.header-area.header-default.transparent
    .header-align
    .header-navigation-area
    .main-menu
    > li.has-submenu
    > a:before {
    display: none;
}
.header-area.header-default.header-transparent {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header-area.header-default.header-transparent.sticky {
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: 0 !important;
    position: fixed;
    left: 0;
    top: 0;
    padding: 25px 0;
    width: 100%;
    z-index: 99;
}

.header-logo-area {
    max-width: 148px;
    position: relative;
    top: 1px;
}
.header-logo-area .logo-light {
    display: none;
}

.off-canvas-wrapper {
    position: fixed;
    right: -100%;
    top: 0;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    z-index: 9999;
}
.off-canvas-wrapper.active {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    right: 0;
}
.off-canvas-wrapper.active .off-canvas-inner {
    transform: none;
}
.off-canvas-wrapper.active .off-canvas-inner .off-canvas-content {
    transform: none;
    transition-delay: 0.3s;
}
.off-canvas-wrapper.active .btn-close {
    display: block;
}
.off-canvas-wrapper.active .off-canvas-overlay {
    opacity: 1;
    visibility: visible;
}

.off-canvas-wrapper .off-canvas-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    height: 100%;
    width: 100%;
    z-index: 2;
}

@media only screen and (max-width: 575px) {
    .off-canvas-wrapper .btn-close {
        font-size: 20px;
    }
}
.off-canvas-wrapper .btn-close:active,
.off-canvas-wrapper .btn-close:focus {
    border: none;
    box-shadow: none;
}
.off-canvas-wrapper .btn-close i {
    line-height: 1;
}
.off-canvas-wrapper .btn-close:hover {
    color: #0e0e0e;
}
.off-canvas-wrapper .off-canvas-inner {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transform: translateX(0);
    transition: 0.3s;
    height: 100vh;
    width: 100%;
    z-index: 3;
}
.off-canvas-wrapper .off-canvas-inner .off-canvas-content {
    background-color: #fff;
    height: 100%;
    padding: 0 50px;
    position: relative;
    overflow-y: auto;
    transition: 0.4s;
    transition-duration: 0.4s;
    transform: translateX(100%);
    width: 545px;
    z-index: 9;
}
@media only screen and (max-width: 575px) {
    .off-canvas-wrapper .off-canvas-inner .off-canvas-content {
        width: 310px;
    }
}
.off-canvas-wrapper
    .off-canvas-inner
    .off-canvas-content
    .off-canvas-item:last-child {
    margin-bottom: 0;
}
.off-canvas-wrapper.aside-menu .off-canvas-inner {
    background-color: transparent;
    transform: none;
}
.off-canvas-wrapper.aside-menu .off-canvas-inner .off-canvas-content {
    background-color: #182141;
    position: relative;
    width: 320px;
    transform: translateX(-100%);
    transition: 0.4s;
    transition-duration: 0.6s;
    z-index: 3;
}
@media only screen and (max-width: 479.98px) {
    .off-canvas-wrapper.aside-menu .off-canvas-inner .off-canvas-content {
        width: 310px;
    }
}

/* Submenu */
.has-submenu {
    padding-right: 10px;
    position: relative;
}
.has-submenu > a {
    position: relative;
    transition: all 0.3s ease-in-out;
}
.has-submenu > a:hover {
    color: #5fbe00 !important;
}
.has-submenu > a:before {
    content: "";
    color: #303744;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    right: 11px;
    top: 7px;
}
.has-submenu > span:before {
    content: "";
    color: #303744;
    font-size: 14px;
    line-height: 30px;
    font-family: "FontAwesome";
    position: absolute;
    right: 11px;
    top: 7px;
}
.has-submenu:hover > .submenu-nav {
    transform: none;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}
.has-submenu:hover .menu-content .menu-content-inner h4,
.has-submenu:hover .menu-content .menu-content-inner .btn-brand {
    transform: none !important;
}
.has-submenu .submenu-nav {
    border: none;
    border-bottom: none;
    padding: 15px 0 15px;
    position: absolute;
    left: -25px;
    top: 100%;
    transform: translateY(50px);
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 9999;
    background-color: #fff;
    border: none;
    box-shadow: 0px 20px 80px 0px rgba(171, 181, 189, 0.35);
    left: -10px;
    margin-top: 25px;
    min-width: 195px;
}
@media only screen and (max-width: 1549px) {
    .submenu-nav {
        margin-top: 48px;
    }
}
@media only screen and (max-width: 1199px) {
    .submenu-nav {
        min-width: 210px;
    }
}
.submenu-nav:before {
    content: "";
    position: absolute;
    height: 56px;
    width: 100%;
    left: 0;
    bottom: 100%;
}
.submenu-nav > li {
    padding: 9px 25px;
}
.submenu-nav > li a {
    color: #0e0e0e;
    display: block;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: inherit;
    text-transform: capitalize;
}
.submenu-nav > li:hover:after {
    color: #fff !important;
}
.submenu-nav > li.has-submenu {
    position: relative;
}
.submenu-nav > li.has-submenu a:before {
    display: none;
}
.submenu-nav > li.has-submenu:hover > .submenu-nav {
    transform: none;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}
.submenu-nav > li.has-submenu:after {
    content: "";
    color: #999191;
    font-size: 15px;
    line-height: 1.2;
    font-family: "FontAwesome";
    position: absolute;
    right: 25px;
    top: 12px;
}
.submenu-nav > li.has-submenu .submenu-nav {
    left: 100%;
    top: 0;
    margin-top: -15px;
}

.has-submenu.full-width {
    position: static;
}
.has-submenu.colunm-two {
    position: relative;
}
/* Responsive Mobile Menu */
.res-mobile-menu {
    margin: 0 -10px;
}
.res-mobile-menu .slicknav_btn {
    display: none;
}
.res-mobile-menu .slicknav_menu {
    background-color: transparent;
    padding: 0;
}

.res-mobile-menu .slicknav_nav li {
    font-size: 16px;
    padding: 10px 0 !important;
    font-weight: 400;
}

.scroll-top {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #5fbe00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    color: #fff !important;
    border-radius: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 0;
}
.scroll-top:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    background-color: #081828;
}
.shadow-custom {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
